doctype html  
html(lang='en')  
 include includes/head.pug
 body
  include includes/nav.pug
  <div class="container-fluid page-wrapper" id="main-no-scroll" >
  <div class="row" >
  include includes/sidenav.pug
  include includes/dropbox.pug
  include includes/create-form.pug
  </div> <!-- row ends -->
  </div> <!-- container ends -->
  include includes/modal-demo.pug
  include includes/scripts.pug

     

