doctype html  
html(lang='en')  
 include includes/head.pug
 body
  include includes/nav.pug
  include includes/scripts.pug
  <div class="container-fluid page-wrapper" id="main-no-scroll" >
  <div class="row" >
  include includes/sidenav.pug
  include includes/dropbox.pug
  include includes/clean-template.pug
  include includes/modals.pug
  </div> <!-- row endss -->
  </div> <!-- container ends -->
  include includes/scripts.pug


     

