<!-- Quick-Sidebar-Trigger Tab Ends-->
<div class="main-panel col-xs-10">
   <div class="colten-wrapper">
      <div class="page-content">
         <!-- BEGIN PAGE HEAD -->
         <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
         </div>
         <!-- END PAGE HEAD -->
         <div class="portlet light">
            <div class="portlet-title">
               <div class="both-save-notifiers">
                  <div id="saveComplete" class="save-complete-div">
                     <i class="fa fa-save"></i>
                     <span class="visible-lg-inline">SAVED</span>
                  </div>
                  <div id="saveFailed" class="save-fail-div">
                     <i class="fa fa-times"></i>
                     <span class="visible-lg-inline" id="saveErrorSpan"></span>
                  </div>
               </div>
               <div class="col-xs-9 col-lg-3">
                  <h3 class="form-sect-title">
                     EDIT Form
                  </h3>
               </div>
               <div class="col-xs-3 col-lg-9" id="eformButtons">
               </div>
               <!-- Assist Buttons End -->
            </div>
            <div class='uil-ellipsis-css center-block' style='transform:scale(0.6);display:none;float:left;' id="loadingCircle">
               <div class="ib">
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
               </div>
            </div>
            <div class="tabbable-custom nav-justified">
               <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                     a(href='#') Council Information
                  </li>
                  <li>
                     a(href='#')
                  </li>
                  <li>
                     a(href='#')
                  </li>
                  <li>
                     a(href='#')
                  </li>
               </ul>

               <div class="tab-content">
                  <!-- tab content begins -->
                  <div class="tab-pane active" id="tab_1_1_1">
                     <div class="row">

                     <div class="col-md-7"></div>

                        <div class="col-md-5">
                            <div class="send-to-sign" id="docusignPanel">
                                <h4>Docusign Digital Signing aaa</h4>
                                <p>To send this document electronically you need to ensure contacts have been assigned to the form.</p>
                                <!-- Simple Sign Enable Panel -->

                                    <div class="alert alert-info notify" role="alert">
                                        <i class="fa fa-exclamation-circle"></i> Please make sure you have at least one recipient for this signing request.
                                    </div>

                                <!--*** Cancel signing button -->
                                <button title="" data-placement="bottom" class="docu-send btn btn-default" type="button" id="sendToDoc">Send To Docusign
                                </button>
                                <!--*** Cancel signing button ends -->
                                </div>
                                <!-- send-to-sign ends -->
                            <!-- send-to-sign ends -->
                        </div> <!-- send-to-sign panel ends -->

                        </div>
                        <!--  of col-md-4 ends-->

                     </div>
                     <!-- row ends -->
                  </div>
                  <!-- tab-pane ends -->
               </div>
               <!-- tab-content -->

               <div class="tab-pane" id="tab_1_1_2"></div>
               <div class="tab-pane" id="tab_1_1_3"></div>
               <div class="tab-pane" id="tab_1_1_4"></div>
            </div>
         </div>
      </div>
   </div>
</div>
include modal-council-info.pug
<!-- closing colten-wrapper-->
<!-- Quick Sidebar Begins -->
<!-- BEGIN QUICK SIDEBAR