<!-- Council Info Begins -->
    <div class="councilInfoDiv">
        <div class="councilInfoHeading">
            <h4 class="inline-heading"><i class="fa fa-list"></i>Council Information</h4>
            <span class="heading-tooltip"><i class="fa fa-question-circle"></i><a data-toggle="modal" data-target="#councilInfo">What's this?</a></span>
            <span class="heading-tooltip"><i class="fa fa-question-circle"></i><a data-toggle="modal" data-target="#streetSearch">Open address modal</a></span>
        </div>
        <div class="informationDiv form-group row">
            <!-- This needs work -->
            <div class="address-bar">
                <label class="sr-only">Address</label>
                <input class="form-control address-search" type="text" placeholder="Address">
            </div>
            <button type="submit" class="btn btn-default councilstat-btn">View on Statistics</button>
        </div>
        <!-- Information from search -->
        <div class="row council-information">
            <div class="col-md-12 table-row">
                <span class="col-md-4 table-item first-item">Owners:</span>
                <span class="col-md-5 table-item">Reuben Billings and Phillipa Billings</span>
                <button class="btn sub-btn btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
            <div class="col-md-12 table-row">
                <span class="col-md-4 table-item first-item">Title(s):</span>
                <span class="col-md-5 table-item">NA9032/12</span>
                <button class="btn sub-btn  btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
            <div class="col-md-12 table-row">
                <span class="col-md-4 table-item first-item">Estate:</span>
                <span class="col-md-5 table-item">Freehold Simple</span>
                <button class="btn sub-btn btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
            <div class="col-md-12 table-row">
                <span class="col-md-4 table-item first-item">District Plan:</span>
                <span class="col-md-5 table-item">30313</span>
                <button class="btn sub-btn btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
            <div class="col-md-12 table-row">
                <span class="col-md-4 table-item first-item">Lot/Flat/Unit:</span>
                <span class="col-md-5 table-item">Lot 3</span>
                <button class="btn sub-btn btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
            <div class="col-md-12 table-row last-row-item">
                <span class="col-md-4 table-item first-item">Land Area:</span>
                <span class="col-md-5 table-item">100m2</span>
                <button class="btn sub-btn btn-default table-button" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>Use This
                </button>
            </div>
        </div>
        //- <!-- end of row -->
    </div>
<!-- Council Info Ends -->
