<!-- closing col-xs-2 -->

<!-- Panel Section -->
<!-- Content Panel Begins -->
<input id="typeID" name="typeID" type="hidden" value="3" />
<input id="eformId" name="eformId" type="hidden" value="3257" />
<input id="versionID" name="versionID" type="hidden" value="8fa58502-872a-414c-983c-7ccf9183286a" />
<input data-val="true" data-val-required="The Boolean field is required." id="enableGoogleDrive" name="enableGoogleDrive" type="hidden" value="False" />
<input data-val="true" data-val-required="The Boolean field is required." id="enableDropBox" name="enableDropBox" type="hidden" value="False" />
<input id="enableDropBox" name="enableDropBox" type="hidden" value="False" />
<input data-val="true" data-val-required="The Boolean field is required." id="diableDistribution" name="diableDistribution" type="hidden" value="False" />
<input id="isAdmin" name="isAdmin" type="hidden" value="0" />
<!-- Quick-Sidebar-Trigger Tab For Slider  -->
<div class="new-trigger tab-trigger top-test" id="slider-tab">
   <div id="tab-box">
      <i class="fa fa-sign-out new-trigger-ani" id="new-trigger-tab"></i>
   </div>
</div>