<!-- Quick-Sidebar-Trigger Tab Ends-->
<div class="main-panel col-xs-10">
   <div class="colten-wrapper">
      <div class="page-content">
         <!-- BEGIN PAGE HEAD -->
         <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
         </div>
         <!-- END PAGE HEAD -->
         <div class="portlet light">
            <div class="portlet-title">
               <div class="both-save-notifiers">
                  <div id="saveComplete" class="save-complete-div">
                     <i class="fa fa-save"></i>
                     <span class="visible-lg-inline">SAVED</span>
                  </div>
                  <div id="saveFailed" class="save-fail-div">
                     <i class="fa fa-times"></i>
                     <span class="visible-lg-inline" id="saveErrorSpan"></span>
                  </div>
               </div>
               <div class="col-xs-9 col-lg-3">
                  <h3 class="form-sect-title">
                     EDIT Form
                  </h3>
               </div>
               <div class="col-xs-3 col-lg-9" id="eformButtons">
               </div>
               <!-- Assist Buttons End -->
            </div>
            <div class='uil-ellipsis-css center-block' style='transform:scale(0.6);display:none;float:left;' id="loadingCircle">
               <div class="ib">
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
                  <div class="circle">
                     <div></div>
                  </div>
               </div>
            </div>
            <div class="tabbable-custom nav-justified">
               <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                     a(href='#') Modals
                  </li>
                  <li>
                     a(href='#')
                  </li>
                  <li>
                     a(href='#')
                  </li>
                  <li>
                     a(href='#')
                  </li>
               </ul>
               <div class="tab-content">
                  <!-- tab content begins -->
                  <div class="tab-pane active" id="tab_1_1_1">
                     <div class="row">
                        <!-- row begins -->
                        <div class="col-md-12">
                           <!-- col begins -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#cloneModal">Clone Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#emailFormModal">Email Form Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#modalExportTranLog">Modal Export Tran Log
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-add-contact">Modal Add Contact
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-main-search">Modal Main Search
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#timeOutModal">Time Out Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                        </div>
                        <!-- col ends -->  
                     </div>
                     <!-- row ends -->
                     <br>
                     <div class="row">
                        <!-- row begins -->
                        <div class="col-md-12">
                           <!-- col begins -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#defaultTemplatesModal">Default Templates Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#newDefaultTemplate">New Default Template
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#addClauseModal">Add Clause Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#currentFormTerms">Terms & Conditions
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#addNoteModal">New Note Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#viewNote">View Note Modal
                           </button>
                           <!--*** Cancel signing button ends -->
                        </div>
                        <!-- col ends -->  
                     </div>
                     <!-- row ends -->
                     <br>
                     <div class="row">
                        <!-- row begins -->
                        <div class="col-md-12">
                           <!-- col begins -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#manageDisabledClause">Manage Disabled Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#convertFormModal">Convert Form Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#streetSearchModal">Street Search Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#transerOldClauseModal"> Transfer Old Clause Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#convertFormModal"> Convert Form Modal
                           </button>
                           <!--*** Cancel signing button ends -->

                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#defaultTemplatesModal"> Default Templates Modal
                           </button>
                           <!--*** Cancel signing button ends -->
                           
                           

                        </div>
                        <!-- col ends -->  
                     </div>
                     <!-- row ends -->

                     <br>

                     <div class="row">
                        <!-- row begins -->
                        <div class="col-md-12">
                           <!-- col begins -->


                           <!--*** Cancel signing button -->
                           <button title="" data-placement="bottom" class="btn btn-default" type="button" data-toggle="modal" data-target="#transerOldClauseModal"> Default Templates Modals
                           </button>
                           <!--*** Cancel signing button ends -->


                        </div>
                        <!-- col ends -->  
                     </div>
                     <!-- row ends -->

                  </div>
                  <!-- tab-pane ends -->
               </div>
               <!-- tab-content -->
               <div class="tab-pane" id="tab_1_1_2"></div>
               <div class="tab-pane" id="tab_1_1_3"></div>
               <div class="tab-pane" id="tab_1_1_4"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- closing colten-wrapper-->
<!-- Quick Sidebar Begins -->
<!-- BEGIN QUICK SIDEBAR