<!-- Simple Sign Modal -->
              <div class="modal fade simple-sign-modal" id="simpleSignTerms">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div class="input-group" style="font-size:18px;">
                                <h3>Terms & Conditions</h3>
                                  <p>
                                      | I agree to the terms and conditions Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ea earum, porro nesciunt culpa numquam magni unde officia, dolores quo quibusdam ipsam. Sint placeat unde optio aperiam deleniti, iusto, at!
                                  </p> 
                                  <button type="button" class="btn btn-default" id="docusignAccept">I Accept</button>
                              </div>
                          </div><!-- Modal Body Ends -->
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal end -->
<!-- Simple Sign Modal Ends-->