<!-- Simple Sign Modal -->
              <div class="modal fade simple-sign-modal" id="councilInfo">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title text-center">Council Information</h4>
                          </div>
                          <div class="modal-body">
                              <div class="input-group" style="font-size:18px;">
                                  <p>
                                      | This container will display council information relating to the property address you have entered at form creation, if REINZ can find it on record. This information is only available if your company has subscribed to the service with REINZ. 
                                      <br>
                                      <br>
                                      | If you would like to subscribe as an induvidual separate to your company, you can do so by clicking the button below.
                                      <br>
                                      <br>
                                      | To read more about this service <a href="">click here</a>
                                      <br>
                                      | To see a demonstration of how it works <a href="">click here</a> 
                                  </p> 
                                  <button type="button" class="btn btn-default" id="docusignAccept">ENABLE COUNCIL DATA SEARCH</button>
                              </div>
                          </div><!-- Modal Body Ends -->
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal end -->
<!-- Simple Sign Modal Ends-->