<!-- Simple Sign Modal -->
              <div class="modal fade form-decline-modal" id="formDeclineModal">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title text-center">Decline Request</h4>
                          </div>
                          <div class="modal-body">
                              <div class="input-group" style="font-size:18px;">
                                  img(src="images/flexi-mini.jpg", alt="")
                                  <p>
                                      | Please provide a quick reason for why this has been declined so we can inform the salesperson ... 
                                  </p>

                                  <textarea class="form-control" aria-label="With textarea" style="height: 10em;"></textarea>

                                  <button type="button" class="btn btn-default" id="docusignAccept">Decline</button>
                              </div>
                          </div><!-- Modal Body Ends -->
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal end -->
<!-- Simple Sign Modal Ends-->