<!-- Quick-Sidebar-Trigger Tab Ends-->
<div class="main-panel col-xs-10">
   <div class="colten-wrapper">
      <div class="page-content">

       <!-- BEGIN PAGE HEAD -->
       <div class="page-head">
       <!-- BEGIN PAGE TITLE -->
       </div>
       <!-- END PAGE HEAD -->

       <div class="col-xs-9 col-lg-6">
           <h3 class="form-sect-title">
               | Alert Boxes - Click Button
               <span class="property-address" id="property-address"></span>
           </h3>
       </div>
        
       <div class="row">
          <div class="col-md-12">
              <div class="alert alert-warning notify toaster" role="alert" style="width:50%;">   
                <i class="fa fa-exclamation-circle"></i>Digital signing in progress!
              </div> 

              <div class="alert alert-warning-b notify toaster" role="alert" style="width:50%;">   
                <i class="fa fa-exclamation-circle"></i>Something has happened, are you aware, this
                is a warning.
              </div> 

              <button class="btn btn-default" id="showAlert" style="margin: 4em;">
                | Show Alerts
              </button>
          </div>
       </div>

</div>
include modal-council-info.pug
<!-- closing colten-wrapper-->
<!-- Quick Sidebar Begins -->
<!-- BEGIN QUICK SIDEBAR