.property-listings-holder#propListingHolder.off
  h4 Needing Approval
  button#hidePropPanel.btn.btn-default.hide-prop-panel(type='button') Hide
    i.fa.fa-arrow-left
  .needing-approval
    .row
      .col-md-12
        button#approveTicked.btn.btn-default.approve-ticked(type='button') Approve Ticked
        ul.properties-list.needing-approval
          li
            .checkbox.approval-check
              label
                input(type='checkbox')
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-check(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Approve')
          li
            .checkbox.approval-check
              label
                input(type='checkbox')
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-check(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Approve')
          li
            .checkbox.approval-check
              label
                input(type='checkbox')
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-check(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Approve')
          li
            .checkbox.approval-check
              label
                input(type='checkbox')
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-check-circle-o(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Approved')
          li
            .checkbox.approval-check
              label
                input(type='checkbox')
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-check-circle-o(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Approved')
  h4 Post Approval
  .post-approval
    .row
      .col-md-12
        ul.properties-list.post-approval
          li
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-close(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Declined')
          li
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-close(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Declined')
          li
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-close(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Declined')
          li
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-close(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Declined')
          li
            span.prop-title 48 Black Teal Close Unsworth Heights
            span.who-is Reuben Billings (Today)
            i.fa.fa-close(data-placement='right', data-toggle='tooltip', href='#', data-original-title='Declined')
