//- includes/scripts.pug

<!-- BEGIN CORE PLUGINS -->
 <!--[if lt IE 9]>
 <script src="assets/global/plugins/respond.min.js"></script>
 <script src="assets/global/plugins/excanvas.min.js"></script>
 <![endif]-->
 <script async="" src="./js/analytics.js.download"></script>
 <script src="./js/jquery.min.js.download" type="text/javascript"></script>
 <script src="./js/jquery-migrate.min.js.download" type="text/javascript"></script>
 <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
 <script src="./js/jquery-ui.min.js.download" type="text/javascript"></script>
 <!-- Testing Scripts Ends!-->
 <script src="./js/bootstrap.min.js.download" type="text/javascript"></script>
 <script src="./js/jquery.slimscroll.min.js.download" type="text/javascript"></script>
 <!-- END CORE PLUGINS -->
 <!-- BEGIN PAGE LEVEL SCRIPTS -->
 <!-- Testing Scripts -->
 <script src="./js/metronic.js.download" type="text/javascript"></script>
 <script src="./js/layout.js.download" type="text/javascript"></script>
 <script src="./js/quick-sidebar.js.download" type="text/javascript"></script>
 <!-- save to cloud libbraries -->
 <script src="./js/platform.js.download" async="" defer="" gapi_processed="true">{parsetags: 'explicit'}</script>
 <script type="text/javascript" src="./js/dropins.js.download" id="dropboxjs" data-app-key="boobje8k6cmy3ag"></script>
 <script src="./js/demo.js.download" type="text/javascript"></script>
 <script src="./js/spin-min.js.download" type="text/javascript"></script>
 <script src="./js/jq-touch-punch-min.js.download" type="text/javascript"></script>
 <script src="./js/eformSearch.js.download" type="text/javascript"> </script>
 <script src="./js/loadStats.js.download" type="text/javascript"> </script>
 <script src="./js/jquery.toastmessage.js.download"></script>
 <script src="./js/clipboard.min.js.download"></script>
 <script src="./js/bootstrap-toggle.min.js"></script>
 <script src="./js/custom-upgrade.js" type="text/javascript"> </script>
 <script src="js/bundle-upgarde.js" type="text/javascript"> </script>