<div class="col-xs-2 nav-column">
   <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
   <div class="page-sidebar ">
      <!-- BEGIN SIDEBAR MENU -->
      <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
      <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
      <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
      <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <ul id="main-left-nav" class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
         <li class="active" data-placement="right" data-toggle="tooltip" href="#" data-original-title="Create Form">
            <a href="/Eform/Create">
            <i class="fa fa-edit"></i>
            <span class="title l-nav-title">Create</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="My Forms">
            <a href="/Eform/myForms">
            <i class="fa fa-th-list"></i>
            <span class="title l-nav-title">My Forms</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="My Forms">
            <a href="/Eform/myForms">
            <i class="fa fa-th-list"></i>
            <span class="title l-nav-title">Office Forms</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="My Contacts">
            <a href="/Eform/manageMyContacts">
            <i class="fa fa-users"></i>
            <span class="title l-nav-title">My Contacts</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="Manage My Default Templates">
            <a href="/Eform/manageTemplates">
            <i class="fa fa-file-text"></i>
            <span class="title l-nav-title">Templates</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="Search Form By Property" data-step="1" data-position="right" data-intro="Welcome back, we have made it easier to find the form you are looking for. Click on this menu item to see our new <b>Search By Property tool.</b>" id="navSearchByProperty" class="search-prop notify">
            <a href="/Eform/manageTemplates">
            <i class="fa fa-file-text"></i>
            <span class="title l-nav-title">Search By Property</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="Legal">
            <a href="/Eform/Legal">
            <i class="fa fa-shield"></i>
            <span class="title l-nav-title">Legal</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="" data-original-title="Settings">
            <a href="/settings">
            <i class="fa fa-gear"></i>
            <span class="title l-nav-title modal-test">Settings</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="Support">
            <a href="/Eform/SUPPORT">
            <i class="fa fa-info-circle"></i>
            <span class="title l-nav-title">Support</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="FAQ">
            <a href="/Eform/FAQ">
            <i class="fa fa-question-circle"></i>
            <span class="title l-nav-title">FAQ</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="Super-User">
            <a href="/eformServices/validation">
            <i class="fa fa-cubes"></i>
            <span class="title l-nav-title">Validation Service</span>
            </a>
         </li>
         <li data-placement="right" data-toggle="tooltip" href="#" data-original-title="FAQ">
            <a href="/Eform/Terms">
            <i class="fa fa-square"></i>
            <span class="title l-nav-title">Eforms terms of usess</span>
            </a>
         </li>
      </ul>
      <!-- END SIDEBAR MENU -->
   </div>
</div>