doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet', href='css/custom.min.css')
    style.
      .how-to-use .glyphicons.customicons.text_highlight  {
      display: inline !important;
      }
  body(style='background-color: #fff;')
    .container-fluid
      .row
        .col-md-12.how-to-use
          .row
            .col-md-12.col-lg-4(style="margin-top: 9%;")
              img.logo2(src='img/flexi-logo-800.png')
              h2 How to use REINZ FlexiSign
              a(href='www.linkto-tandcshere.com', target='_blank')
                p.link
                  | FlexiSign Terms & Conditions
              button#login.btn.btn-secondary.proceed(type='button')  PROCEED
            .col-md-6.col-lg-4(style="margin-top: 9%;")
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-text-strike(aria-hidden='true')
                .col-md-9
                  h6 Text Strikethrough
                  p To cross out any text within the document 
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-text-resize(aria-hidden='true')
                .col-md-9
                  h6 Write Text
                  p To enter the new negotiated value, date or time
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.customicons.text_highlight(aria-hidden='true')
                .col-md-9
                  h6 Text Highlight
                  p Highlight selected text within the document
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-comments(aria-hidden='true')
                .col-md-9
                  h6 Comments
                  p To include information you would like to communicate with other parties
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-download-alt(aria-hidden='true')
                .col-md-9
                  h6 Download
                  p Download the latest copy of the agreement with changes made for your reference
            .col-md-6.col-lg-4(style="margin-top: 9%;")
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-random(aria-hidden='true')
                .col-md-9
                  h6 Counter Offer
                  p Select the counter offer button to confirm any changes made to an offer. 
              .row.icon-group
                .col-md-3
                  .icon
                    i.fas.fa-check-circle  
                .col-md-9
                  h6 Approve
                  p To confirm the offer
              .row.icon-group
                .col-md-3
                  .icon
                    i.fas.fa-times-circle
                .col-md-9
                  h6 Decline
                  p To decline any further engagement with this offer 
              .row.icon-group
                .col-md-3
                  .icon
                    span.glyphicons.glyphicons-list(aria-hidden='true')
                .col-md-9
                  h6 Check Notes
                  p Check the notes panel for details of any latest changes made by the parties engaging in negotiations
    // jQuery must be added before WebViewer.js
    script(src='lib/html5/external/jquery-3.2.1.min.js')
    script(src='lib/WebViewer.min.js')
    script(src='js/custom.js')
