html
	html(lang='en', style='background: none;')
		include inc/_head.pug
	body
		.container-fluid                 
			.row.status-container
				.col-12
					.alert.alert-info
						i.fas.fa-info-circle
						p#alertMessage Please note that each contact will be updated
				div#spinnerOverlay
					div.spin-hold
						p One moment please .....
						#animation_container(style='background-color: transparent; width:250px; height:90px; display: block; margin: 0 auto;')
							canvas#canvas(width='250', height='90', style='position: absolute; display: block; background-color: transparent;')
							#dom_overlay_container(style='pointer-events:none; overflow:hidden; width:250px; height:90px; position: absolute; left: 0px; top: 0px; display: block;')
				.holder
				.col-sm-3.col-md-6.col-lg-3.con
					.col-sm-12.inner
						h4 Primary Purchaser
						i.far.fa-envelope.info-check(data-toggle="tooltip", data-placement="top", title="Send notification email")                         
						p.name Jack Armstrong                           
						.info
							.edits.inactive
								i.fas.fa-edit.info-icon                              
								p
									span.number 0
									span Edits - Beta
							p.phone 
								span 
									strong
										i.fas.fa-phone
								span#phNumber 027 599 3020  
							p.email
								span 
									strong
										i.fas.fa-at
								span#emailInfo johnSmith@gmail.com                             
							p.token
								i.fas.fa-tags
								|  Token: ZCTA41                            
						p.status
							i.fas.fa-check-circle 
							| Approved 01/01/2017                    
				.col-sm-3.col-md-6.col-lg-3.con
					.col-sm-12.inner
						h4 Secondary Purchaser
						i.far.fa-envelope.info-check(data-toggle="tooltip", data-placement="top", title="Send notification email")                            
						p.name JDogg                             
						.info
							.edits.inactive
								i.fas.fa-edit.info-icon             
								p
									span.number 0
									span Edits - Beta
							p.phone 
								span 
									strong
										i.fas.fa-phone
								span#phNumber 021 555 8888  
							p.email
								span 
									strong
										i.fas.fa-at
								span#emailInfo jDogg@gmail.com                               
							p.token
								i.fas.fa-tags
								|  Token: IUA769                            
						p.status.declined 
							i.fas.fa-times-circle 
							| Declined 01/01/2017                    
				.col-sm-3.col-md-6.col-lg-3.con
					.col-sm-12.inner
						h4 Primary Vendor
						i.far.fa-envelope.info-check(data-toggle="tooltip", data-placement="top", title="Send notification email")                          
						p.name Joan Smith                            
						.info
							.edits
								i.fas.fa-hourglass-start.info-icon 
								p
									span.number 12
									span Hours remaining
							p.phone 
								span 
									strong
										i.fas.fa-phone
								span#phNumber 022 000 0011 
							p.email
								span 
									strong
										i.fas.fa-at
								span#emailInfo joanSmith@gmail.com                               
							p.token
								i.fas.fa-tags
								|  Token: ZCTA41                           
						p.status.review 
							i.fas.fa-clock
							| In Review 01/01/2017                 
				.col-sm-3.col-md-6.col-lg-3.con
					.col-sm-12.inner
						h4.inactive Secondary Vendor                           
						.row
							button.btn.assign CLICK TO ASSIGN                   
				.col-sm-6.offset-sm-6.btn-container
					button.question ?                       
					button.cancel Cancel                      
					button.sign Send for Signing                      
					button.new Send to New Client
		// Send to negotiatin begins
		button.modal-test.email-details#modalTest(data-toggle="modal" data-target="#exampleModal") Email Details Modal
		.container
			.row
				.col-xs-12.div.send-negotiation
					h4 Send to Negotiation
					|                 
					.paragraph
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt risus sodales mi rhoncus, eu suscipit felis interdum. Vestibulum tincidunt leo ipsum, non congue felis pretium id. Nullam faucibus
					|                 
					.cost
						p Negotiation or Signing a contract has a fixed cost of $10 incl gst
					|                 
					div
						.buy-btn
							button BUY NOW WITH PAYPAL
				|             
				.col-xs-12.div.send-negotiation
					h4 Send to Negotiation
					|                 
					.paragraph
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt risus sodales mi rhoncus, eu suscipit felis interdum. Vestibulum tincidunt leo ipsum, non congue felis pretium id. Nullam faucibus.
						|                     
						br
						|                     
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit temporibus sequi eos et omnis saepe natus quidem excepturi asperiores ipsa, officiis, aliquid optio reprehenderit, blanditiis nam beatae architecto quia molestiae!
					|                 
					div
						.buy-btn
							button Negotiation
							|                         
							button Send To Sign
		// Modal
		#exampleModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h5#exampleModalLabel.modal-title SMS EMAIL CONFIRMATION
						|         
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") ×
					|       
					.modal-body
						.form-group
							label(for="exampleInputEmail1") Email Subject
							| 
							input#exampleInputEmail1.form-control(type="email", aria-describedby="emailHelp", placeholder="Enter email", value="REINZ Property Agreement - Login to Review")
						.form-group
							label(for="comment") Email Content:
							|   
							textarea#comment.form-control(rows="5")
								| Dear Jo Bloggs,
								|
								| You have been sent an SMS authorisation code from licensed Real Estate Agent Deborah Barns to access  a REINZ digital property agreement. Please check phone 021 854 398. Do not forward or give this code to anyone. Click the login button below to enter the code and review, sign or make changes to the digital agreement.
								|
								| If you have not received a code or have any questions about this process, please call an your agent.
								|
								| Kind Regards,
								|
								| REINZ eForms
					.modal-footer
						button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
						|         
						button.btn.btn-primary(type="button") Send
			include inc/_scripts.pug
			//- ****Please read This is the entire animated logo effect****
			//- All js canvas logo animation is located in the file below: bouncing-logo-min.js
			//- Relevant html is located within the #animationContainer div on this page
			script(src='js/bouncing-logo-min.js')
			script.
					window.onload = function () {
						$('body').loading({
							overlay: $("#spinnerOverlay"),
							stoppable: true,
							theme: 'dark',
							message: 'One moment please ...'
						})
						// Initialize all canvas methods
						init()
					} // window onload ends