// jQuery must be added before WebViewer.js
script(src='lib/html5/external/jquery-3.2.1.min.js')
script(src='lib/WebViewer.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.loading.js')
script(src='js/tippy-all.js')
script(src='js/bundle.js')